{
  "auths": {
  {% if docker_auth_config_dockerhub != "" %}
          "https://index.docker.io/v1/": {
                "auth": "{{ docker_auth_config_dockerhub }}"
            },
  {% endif %}
  {% if docker_auth_config_gitlab != "" %}
        "registry.gitlab.com": {
                "auth": "{{ docker_auth_config_gitlab }}"
            },
  {% endif %}
  {% if docker_auth_config_private != "" %}
        "registry.stf.jus.br": {
                "auth": "{{ docker_auth_config_private }}"
            }
  {% endif %}
}
}
