concurrent = {{ gitlab_ci_multi_runner_concurrent_runners_per_host }}
check_interval = {{ gitlab_ci_multi_runner_check_gitlab_new_builds_interval }}

[[runners]]
  name = "{{ gitlab_ci_multi_runner_name|lower }}"
  url = "{{ gitlab_ci_multi_runner_server|lower }}"
  token = "{{ gitlab_ci_multi_runner_token }}"
  executor = "{{ gitlab_ci_multi_runner_executor|lower }}"
  limit = {{ gitlab_ci_multi_runner_limit }}
  [runners.docker]
    image = "{{ gitlab_ci_multi_runner_docker_image|lower }}"
    privileged = {{ gitlab_ci_multi_runner_docker_privileged|lower }}
    volumes = ["{{ gitlab_ci_multi_runner_docker_volumes|join("\",\"") }}"]
    dns_search = ["{{ gitlab_ci_multi_runner_docker_dns|join("\",\"") }}"]
    allowed_images = ["{{ gitlab_ci_multi_runner_docker_allowed_images|join("\",\"") }}"]
{% if gitlab_ci_multi_runner_docker_machine_activate %}
  [runners.machine]
    IdleCount  = "{{ gitlab_ci_multi_runner_docker_machine_idle_count }}"
    IdleTime  = "{{ gitlab_ci_multi_runner_docker_machine_idle_time }}"
    MachineDriver  = "{{ gitlab_ci_multi_runner_docker_machine_driver|lower }}"
    MachineName  = "{{ gitlab_ci_multi_runner_docker_machine_name|lower }}"
    OffPeakTimezone = "{{ gitlab_ci_multi_runner_docker_machine_offpeaktimezone }}"
    OffPeakIdleCount = "{{ gitlab_ci_multi_runner_docker_machine_offpeakidlecound }}"
    OffPeakIdleTime = "{{ gitlab_ci_multi_runner_docker_machine_offpeakidletime }}"
    MachineOptions = ["{{ gitlab_ci_multi_runner_docker_machine_options|join("\",\"") }}"]
{% endif %}
{% if gitlab_ci_multi_runner_cache_server_activate %}
  [runners.cache]
    Type = "{{ gitlab_ci_multi_runner_cache_type|lower }}"
    ServerAddress = "{{ gitlab_ci_multi_runner_cache_server_address }}"
    AccessKey = "{{ gitlab_ci_multi_runner_cache_access_key }}"
    SecretKey = "{{ gitlab_ci_multi_runner_cache_secret_key }}"
    BucketName = "{{ gitlab_ci_multi_runner_cache_bucket_name }}"
    Insecure = {{ gitlab_ci_multi_runner_cache_insecure|lower }}
    Shared = {{ gitlab_ci_multi_runner_cache_shared|lower }}
{% endif %}
